Makefile
aclocal.m4
autom4te.cache/
check/.deps/
check/Makefile
config.log
config.status
include/Makefile
include/config.h
include/stamp-h1
src/.deps/
src/Makefile
*.o
*.d
lib*.a
Makefile.in
*/Makefile.in
check/lemon_benchmark
check/lemon_contents