TAGS
*.o
*.d
*.a
Makefile
*/Makefile
.gitignore
config.h
config.log
config.status
configure
output.data
output.para
read_input.c
*~
aclocal.m4
autom4te.cache/
ar-lib
include/stamp-h1
src/.deps/
*.in
build
